<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>
            Angular CRUD
        </h1>
        <div class="d-flex">
            <button  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-sucess ">ADD EMPLOYEE</button>
        </div>
    </div>

</nav>
<table class="table mt-3">
    <thead>
        <th scope="col">Employee ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">mOBILE NO</th>
        <th scope="col">salary</th>
        <th scope="col">Action</th>

    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName |uppercase}}</td>
            <td>{{row.lastName |uppercase}}</td>
            <td>{{row.email |uppercase}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
<td>
    <button (click)="onEdit(row)"  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info" >Edit</button>
    <button class="btn btn-danger mx-3" (click)="delteEmployee(row)">Delete</button>
</td>
        </tr>
    </tbody>
</table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Detaild</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName"  placeholder= "enter your firstName" class="form-control" id="exampleInputEmail1" >
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Last Name</label>
                  <input type="text" formControlName="lastName"  placeholder=" enter yourLastName" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email Adress</label>
                    <input type="email" formControlName="email"  placeholder="enter your Email adress" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                    <input type="number" formControlName="mobile"  placeholder=" enter your Mobile number" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1"  class="form-label">Salary</label>
                    <input type="number" formControlName="salary"   placeholder=" enter your Salary"  class="form-control" id="exampleInputPassword1">
                  </div>
              </form>



        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="postEmployeesDetails()">Add</button>
          <button type="button" class="btn btn-primary" (click)="updateEmployee()">update</button>
        </div>
      </div>
    </div>
  </div>
